@keyframes gradientmove {
  0% { background-position: 0% 0%; }
  25% { background-position: 0% 100%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 100% 0%; }
  100% { background-position: 0% 0%; }
}

@keyframes menubg {
  from { background-position: top left;}
  to { background-position: top right; color: #fff;}
}

@keyframes menubgback {
  from { background-position: top right; color: #fff;}
  to { background-position: top left;}
}

@keyframes spanmove {
  from { right: calc(100% - 20px); transform: translateX(100%);}
  to { right: 20px; transform: translateX(0);}
}

@keyframes spanmoveback {
  from { right: 20px; transform: translateX(0);}
  to { right: calc(100% - 20px); transform: translateX(100%);}
}

@keyframes zoomin {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes draw {
  60% {
    fill-opacity: 0;
    stroke-dashoffset: 0;
  }

  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
