html,
body {
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "walkway", sans-serif;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: calc((100vh - 500px) / 2) 100px 100px 100px 100px 100px calc((100vh - 500px) / 2);
  width: 100vw;
  height: 100vh;

  section {
    align-items: center;
    animation: gradientmove 30s linear infinite forwards;
    background: #00f;
    background: -moz-linear-gradient(-45deg, #00f 0%, #f0f 20%, #f00 40%, #0f0 100%);
    background: -webkit-linear-gradient(-45deg, #00f 0%, #f0f 20%, #f00 40%, #0f0 100%);
    background: linear-gradient(135deg, #00f 0%, #f0f 20%, #f00 40%, #0f0 100%);
    background-size: 20000px 20000px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f', endColorstr='#0ff',GradientType=1 );
    box-sizing: border-box;
    display: flex;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    z-index: 0;

    .section-content {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px 5px;
      margin-bottom: 20px;
      width: 100%;
      overflow-y: auto;
      max-height: 100%;
    }

    &:first-child {
      z-index: 1;
    }

    &:target {
      z-index: 2;

      + .menu-item {
        color: #fff;
        background-position: top right !important;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  main {
    grid-template-columns: 40vw 60vw;
  }

  .content-container {
    flex-direction: row;
  }
}
